
.page-title {
    color:white;
    position: absolute;
    left:120px;
    top: 28px;
}
.page-avatar {
    border: 4px solid;
    position: absolute;
    height: 80px;
    margin: 10px;
}
.page-header-card {
    background-image: url("https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&h=350");
    height: 100;
}
.page-header-button-group {
    position: relative;
    float: right;
}
.nav-search-box {
    position: relative;
    top: 7px;
    margin: auto;
}
.search-icon {
    position: absolute;
    height: 20px;
    left: 200px;
    top: 10px;
}
.padding-top {
    padding-top: 40px;
}
.main-container {
    width: 90%;
    margin: auto;
}